*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', sans-serif;

}
.container{
    display: flex;
}
a{
    color: black;
    text-decoration: none
}
@import './scss/common';
